.generator{
    margin: auto;
    margin-top: 5px;

}
.generator__btn{
    background: rgb(23, 153, 204);
    width: 60px;
    height: 40px;
    margin-left: 10px;
}
.generator__text {
    width: 300px;
    line-height: 40px;
    font-size: 18px;
}